<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="register_card">
      <form [formGroup]="newTripForm" (ngSubmit)="onRegisterNewTrip()">
        <h2 style="text-align: center;">{{ 'security.newTripForm.title1' | translate }} <br><b>ACME-Explorer</b>
        </h2>
        <p style="text-align: center;">{{ 'security.newTripForm.title2' | translate }}
          <br></p>

        <!--Title-->
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>title</mat-icon>
            </span>
          </div>
          <input type="text" class="form-control" name="title" formControlName="title" id="title"
            placeholder="{{ 'security.newTripForm.tripTitle' | translate }}" required="required">
        </div>
        <!--Description-->
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>text_fields</mat-icon>
            </span>
          </div>
          <input type="text" class="form-control" name="description" id="description" formControlName="description"
            placeholder="{{ 'security.newTripForm.description' | translate }}" required="required">
        </div>
        <!--Price-->
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>attach_money</mat-icon>
            </span>
          </div>
          <input type="text" class="form-control" name="price" id="price" formControlName="price"
            placeholder="{{ 'security.newTripForm.price' | translate }}" required="required" min="0" max="99999">
        </div>


        <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
          outsideDays="hidden">
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
          <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>

        <hr>

        <!--DateInit-->
        <br>
        <label class="center-block">{{ 'security.newTripForm.dateInit' | translate }}:</label>
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>date_range</mat-icon>
            </span>
          </div>
          <input type='date' class="form-control" value="{{dateInit.day}}-{{dateInit.month}}-{{dateInit.year}}" name="dateInit" id="dateInit"
            formControlName="dateInit"  required="required" />

        </div>

        <!--DateEnd-->
        <br>
        <label class="center-block">{{ 'security.newTripForm.dateEnd' | translate }}:</label>
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>date_range</mat-icon>
            </span>
          </div>
          <input type='date' value="{{dateEnd.day}}-{{dateEnd.month}}-{{dateEnd.year}}" class="form-control" name="dateEnd" id="dateEnd"
            formControlName="dateEnd"  required="required" />
        </div>


        <!--Profile Photo-->
        <!-- <img *ngIf="picture != undefined" class="img-circle user" src="{{picture}}">
        <div  *ngIf="picture === undefined">
          <img class="img-circle user" src="http://www.propertybazaar.com/content/img/no-user-Image.png">
        </div> -->
        <textarea id="showresult" hidden="false"></textarea>

        <br>
        <label class="center-block">{{ 'security.newTripForm.mainPicture' | translate }}:</label>
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>camera</mat-icon>
            </span>
          </div>
          <input type="file" class="form-control" name="mainPicture" (change)="onFileChange($event)"
            formControlName="mainPicture">
        </div>
        <div class="form-group d-flex justify-content-center mt-3 login_container">
          <button type="submit" id="register" name="button" >{{ 'security.newTripForm.button' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>