header{
    background-color: #232f3e;
}

button{
    background-color: #febd69;
}

.navbar-toggler{
    background-color:  #febd69;
}

.text-style{
    text-decoration-color: #ffff;
    font-weight: bold;
}