header{
    background-color: #232f3e;
}

button{
    background-color: #febd69;
}

.navbar-toggler{
    background-color:  #febd69;
}

.text-style{
    text-decoration-color: #ffff;
    font-weight: bold;
}

.special-img 
{
    margin-right: 10px;
}
.navbar-nav>li>a.profile-image {
    padding-top: 10px;
    padding-bottom: 10px;
}