<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile" style="margin-bottom: 100px">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="{{picture}}" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{ actor?.name }}, {{ actor?.surname }}
          </h5>
          <h6>
            {{ actor?.email }}
          </h6>
          <p>{{ actor?.role }}</p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home"
                aria-selected="true">Datos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label><b>Rol</b></label>
              </div>
              <div class="col-md-6">
                <p>{{actor.role}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label><b>Nombre</b></label>
              </div>
              <div class="col-md-6">
                <p>{{actor?.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label><b>Apellidos</b></label>
              </div>
              <div class="col-md-6">
                <p>{{ actor?.surname }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label><b>Email</b></label>
              </div>
              <div class="col-md-6">
                <p>{{ actor?.email }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label><b>Lenguaje preferido</b></label>
              </div>
              <div class="col-md-6">
                <p><img *ngIf="actor?.preferredLanguage == 'es'" src="../../../../../assets/es-icon.png" alt="" /><img *ngIf="actor?.preferredLanguage == 'en'" src="../../../../../assets/en-icon.png" alt="" />{{ actor?.preferredLanguage }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>