<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="register_card">
      <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
        <h2 style="text-align: center;">{{ 'security.registerForm.registerTittle' | translate }} <br><b>ACME-Explorer</b></h2>
        <p style="text-align: center;">{{ 'security.registerForm.registerSecondTittle' | translate }} <br>{{ 'security.registerForm.registerThirdTittle' | translate }}</p>
        <div class="form-group has-danger">
          <label for="role" class="form-control-label">{{ 'security.registerForm.registerRole' | translate }}:</label>
          <select id="role" class="form-control" formControlName="role">
            <option *ngFor="let role of roleList" [value]="role">
              {{role}}
            </option>
          </select>
        </div>

        <!--Name-->
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>face</mat-icon>
            </span>
          </div>
          <input type="text" class="form-control" name="name" formControlName="name" placeholder="{{ 'security.registerForm.registerName' | translate }}"
            required="required">
        </div>
        <!--Surname-->
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>face</mat-icon>
            </span>
          </div>
          <input type="text" class="form-control" name="surname" formControlName="surname" placeholder="{{ 'security.registerForm.registerSurname' | translate }}"
            required="required">
        </div>
        <!--Email-->
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>email</mat-icon>
            </span>
          </div>
          <input type="email" name="email" class="form-control" formControlName="email" placeholder="{{ 'security.registerForm.registerEmail' | translate }}"
            required="required">
        </div>
        <!--Phone-->
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>phone</mat-icon>
            </span>
          </div>
          <input type="text" class="form-control" name="phone" formControlName="phone" placeholder="{{ 'security.registerForm.registerPhone' | translate }}"
            required="required">
        </div>

        <!--Address-->
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>home</mat-icon>
            </span>
          </div>
          <input type="text" class="form-control" name="address" formControlName="address" placeholder="{{ 'security.registerForm.registerAddress' | translate }}"
            required="required">
        </div>

        <!--Preffered Language-->
        <div class="form-group has-danger">
          <label for="lang" class="form-control-label">{{ 'security.registerForm.registerLang' | translate }}:</label>
          <select id="lang" class="form-control" formControlName="preferredLanguage">
            <option *ngFor="let lang of langList" [value]="lang">
              {{lang}}
            </option>
          </select>
        </div>

        <!--Password-->
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>vpn_key</mat-icon>
            </span>
          </div>
          <input type="password" class="form-control" name="password" formControlName="password" placeholder="{{ 'security.registerForm.registerPassword' | translate }}"
            required="required">
        </div>

        <div class="form-group">
          <label class="checkbox-inline"><input type="checkbox" required="required">{{ 'security.registerForm.registerTerms' | translate }}</label>
        </div>
        <div class="form-group d-flex justify-content-center mt-3 login_container">
          <button type="submit" name="button" class="btn login_btn">{{ 'security.register' | translate }}</button>
        </div>
        <!-- <div class="form-group">
        <button type="submit" class="btn btn-primary btn-success btn-lg btn-block">Register Now</button>
      </div> -->
      </form>
      <div class="text-center">
        {{ 'security.loginForm.loginRemind' | translate }} <a routerLink="/login">{{ 'security.login' | translate }}</a>
      </div>
    </div>
  </div>
</div>